.report {
  width: 70%;
  margin-left: max(5vw, 25px);
  margin-top: 50px;
  color: #6d6d6d;
  font-size: 16px;
}
.header-items-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.header-item {
  background-color: tomato;
  color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
