.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8%;
}
.navbar-content .logo {
  /* width: max(10%, 80px);
   */
  height: 60px;
}

.navbar-content .profile {
  width: 40px;
}
