@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit";
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
li {
  list-style: none;
  cursor: pointer;
}
button {
  cursor: pointer;
}
.app {
  position: relative;
  width: 80%;
  margin: auto;
}
.call-btn {
  position: fixed;
  bottom: 0;
  background-color: rgb(32, 11, 153);
  color: white;
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
